Repository wbeuil/wbeuil.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run frontmatter --

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.mdx": "npm run frontmatter --"
}

Copy to clipboard button
  src/components/BlogComponents.tsx
  src/components/Code.tsx
  src/components/NavLink.tsx
  src/components/Preformatted.tsx
  src/icons/copy-error.svg
  src/icons/copy-success.svg
  src/icons/copy.svg
  src/locales/en.json
  src/locales/fr.json
Due: prettier --write, eslint --fix

Bump to nextjs 11
  .eslintrc
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  src/components/Image.tsx
Due: prettier --write, eslint --fix

Add fr and en
  blogs/a-la-recherche-des-analytics.mdx
  blogs/make-analytics-great-again.mdx
  public/images/blogs/plausible-data-points.png
  public/images/blogs/plausible-diagram.png
Due: npm run frontmatter --

Update deps
  .husky/.gitignore
  .husky/_/husky.sh
  package-lock.json
  package.json
Due: none

Send Web Vitals to InfluxDB
  .env.example
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/pages/api/metrics/webvitals.ts
  src/utils/vitals.ts
Due: prettier --write, eslint --fix

Update deps
  package-lock.json
  package.json
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/blog/[slug].tsx
Due: prettier --write, eslint --fix

Vitals component
  public/images/graph.svg
  src/components/Metric.tsx
  src/components/Vitals.tsx
  src/locales/en.json
  src/locales/fr.json
  src/pages/metrics.tsx
  src/styles/index.css
Due: prettier --write, eslint --fix

mdx-bundler
  .husky/_/husky.sh
  package-lock.json
  package.json
Due: none

Remove the audit step in CI
  .github/workflows/ci.yml
Due: none

Update deps
  package-lock.json
  package.json
Due: none

Update unit tests
  .gitignore
  babel.config.js
  jest.config.js
  next-env.d.ts
  scripts/generate-fake-blog.ts
  src/__tests__/404.test.tsx
  src/__tests__/500.test.tsx
  src/__tests__/blog.test.tsx
  src/__tests__/metrics.test.tsx
  src/__tests__/slug.test.tsx
  src/utils/test-utils.tsx
Due: prettier --write, eslint --fix

Update components
  src/components/Analytics.tsx
  src/components/BlogContainer.tsx
  src/components/BlogRow.tsx
  src/components/Metric.tsx
  src/components/Vitals.tsx
  src/hooks/useHiddenNav.ts
  src/hooks/useScrollPosition.ts
  src/pages/blog/[slug].tsx
  src/styles/index.css
Due: prettier --write, eslint --fix

Remove useless types
  types/jest-next-dynamic/index.d.ts
Due: prettier --write, eslint --fix

Fix tests
  src/__tests__/slug.test.tsx
Due: prettier --write, eslint --fix
